/* for flexibility with different screens - AI was used in this section with the prompt "what are some accessibility feautres we could add? */


h1 {
    font-size: 45px;
    padding: 0;
    margin: 0;    
}

h2 {
    font-size: 80px;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 60px;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 20px;
    padding: 0;
    margin: 0;    
}


#positions {
    grid-column: 1;
}

#jobs-intro {
    background-color: #f4f2ff;
    border: solid #5170ff;
    height: auto;
    padding: 10px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    grid-column: 1 / 3;
    box-sizing: border-box;
}

#jobs-intro h2 {
    padding: 50px 10px 0px 10px;
}

.position-brief-intro {
    min-height: 350px;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: solid #5e17eb;
}

.reporting-line {
    display: none;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.more-info {
    display: none;
    width: 100%;
    background-color: #f4f2ff;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    border: 2px solid #5e17eb;
    border-radius: 10px;
    margin-top: 15px;
    grid-template-columns: repeat(3, 1fr);
}



/* Show BOTH when hovering over the position */
#positions li:hover .reporting-line,
#positions li:hover .more-info {
    display: block;
}

/* Aside */

#aside {
    grid-column: 2;
    grid-row: 2;

    width: 280px;
    padding: 20px;
    box-sizing: border-box;

    background-color: #f4f2ff;
    border: 2px solid #5170ff ;
    border-radius: 10px;

    height: fit-content;

    position: sticky;
    top: 80px;
}
#aside #apply-link {
    display: inline-block;
    padding: 10px 20px;

    background-color: #5e17eb;
    color: white;

    text-decoration: none;
    font-weight: 600;
    font-size: 20px;

    border-radius: 5px;
}

#aside #apply-link:hover {
    background-color: #4810c4;
}
#aside h2 {
    font-size: 28px;
    margin-top: 0;
}